<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../model/Public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <title>Site</title>
</head>
<body>
   
  <%- include('./part_body/head_body') ;%>
  
  <!-- card -->
  


<div class="container container_certificate">
   <div class="row  row_certificate">
     <div class="card_circle_parcours col-md-4">
       <div class="circle_certificate">
        <img class="img_certificate" src="../model/Public/image/diplome.svg" alt="diplome">
       </div>
       <h1 class="title_circle_certificate">Diplômes accrédités</h1>
      <p class="text_circle_certificate">
        Le niveau de nos parcours certifiants est reconnu par l'État français
      </p>    
     </div>
     <div class="card_circle_parcours col-md-4">
      <div class="circle_certificate">
       <img class="img_certificate" src="../model/Public/image/mentorship.svg" alt="diplome">
      </div>
      <h1 class="title_circle_certificate">Mentorat</h1>
     <p class="text_circle_certificate">
      Chaque semaine, un expert du métier visé suit vos progrès
     </p>    
    </div>
    <div class="card_circle_parcours col-md-4">
      <div class="circle_certificate">
       <img class="img_certificate" src="../model/Public/image/job.svg" alt="diplome">
      </div>
      <h1 class="title_circle_certificate">Satifait ou remboursé</h1>
     <p class="text_circle_certificate">
      Vous allez acquerir des competences incroyables*
     </p>    
    </div>
   </div>

    <!-- row1 -->

    <div class="row  row_course ">
      <h2 class="text_choice text_choice1" >Choisissez votre Coach</h2>
      <p  class="  text_choice_p">vous serez assiste par les meilleur du domaine:</p>
        <div class="card col-md-4">
          <img class="card-img-top" src="../model/Public/image/profile.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Sylvia claire</h4>
            <p class="card-text text_body">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="/profile_sylvia" class="btn btn-primary">Voir Profile</a>
          </div>
        </div>

        <div class="card col-md-4">
            <img class="card-img-top" src="../model/Public/image/Cory_Henry_.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Cory Henry</h4>
              <p class="card-text text_body">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="/profile_cory" class="btn btn-primary">Voir Profile</a>
            </div>
          </div>
          <div class="card col-md-4">
            <img class="card-img-top" src="../model/Public/image/robert_glasper_kirk_edwards_fma.jpg" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Robert Glasper</h4>
              <p class="card-text text_body">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="profile_glasper" class="btn btn-primary">Voir Profile</a>
            </div>
          </div>
        <br>
     
    </div>

    <!-- row2 -->
    <div class="row ">
      <h2  class="text_choice2">Choisissez votre Cour</h2>
      <p  class="text_choice text_choice_p">vous serez assiste par les meilleur du domaine:</p>
      <div class="card col-md-4">
        <img class="card-img-top" src="../model/Public/image/jazz_pian.webp" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Jazz</h4>
          <p class="card-text text_body">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="/jazz_course" class="btn btn-primary">ouvrir</a>
        </div>
      </div>

      <div class="card col-md-4">
          <img class="card-img-top" src="../model/Public/image/gospel.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Gospel</h4>
            <p class="card-text text_body">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="/jazz_course" class="btn btn-primary">ouvrir</a>
          </div>
        </div>
        <div class="card col-md-4">
          <img class="card-img-top" src="../model/Public/image/neosoul.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">NeoSoul</h4>
            <p class="card-text text_body">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="/jazz_course" class="btn btn-primary">Ouvrir</a>
          </div>
        </div>
      <br>
   
  </div>
  


</div>
<div class="container">
  <div class="row row_section_video">
    <div class="card_section_text_video col-md-6">
      <h1 class="title_section_video">
        Des formations  Pratiques
      </h1>
      <p class="text_section_video text_body">
        Devenez qui vous voulez être avec My music. Choisissez votre carrière. Suivez une formation constituée de projets
      </p>
      <p class="text_section_video text_body">
        professionnalisants et de séances individuelles avec un mentor dédié chaque semaine. Obtenez un diplôme reconnu par l'État. Enrichissez votre CV avec les programmes en alternance proposés par
      </p>
      <p class="text_section_video text_body">
      My Music et gagnez un salaire tout en suivant votre formation.
      </p>
    </div>
    <div class="card_section_video col-md-6">
   
  <iframe width="100%"  controls height="330px" autoplay="true" src="https://www.youtube.com/embed/6ScCGTLNbPo?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </div>
  </div>

  <div class="row row_contact_assistance">
    <div class="card_circle_assistance col-md-4">
      <img class="img_certificate" src="../model/Public/image/contact-assistance.svg" alt="call center">
    </div>
    <div class="text_assistance col-md-8">
        <h1 class="title_assistance">Nous sommes là pour vous aider</h1>
        <p class="P_text_assistance">
          Vous avez une question ? Notre équipe est là pour vous répondre du lundi au vendredi de 9h00 à 19h00, heure en France métropolitaine.
         </p>
         <a href="" class="link_write_we"> contactez nous</a>
       <div class="row row-form_contact_us">
        <form action="" class="Contactez_nous">
           <div class="form-group col-md-6 mr-18">
             <label for="nom" class="label_form_contact_us">Nom*</label>
             <input type="text" class="input_contactez_nous" id="nom">
           </div>
           <div class="form-group col-md-6">
            <label for="Prenom"class="label_form_contact_us" >Prenom*</label>
            <input type="text" class="input_contactez_nous" id="Prenom">
          </div>
          <div class="form-group col-md-6">
            <label for="Email"class="label_form_contact_us" >Email*</label>
            <input type="text" class="input_contactez_nous" id="email">
          </div>
          <div class="form-group col-md-6">
            <label for="nom"class="label_form_contact_us" >Numero de telephone*</label>
            <input type="text" class="input_contactez_nous">
          </div>
          <div class="form-group col-md-6">
            <label for="pays"class="label_form_contact_us" >Pays*</label>
            <select name="selection" class="input_contactez_nous" id="pays" >
              <option value="France">France</option>
              <option value="France">Russie</option>
              <option value="France">Cote D'ivoire</option>
            </select>
          </div>
          <div class="form-group col-md-12 mt_checkbox">
           <div class="row_checkbox">
             <input type="checkbox" name="cochez" id="cochez">
             <span class="text_checkbox">Je souhaite recevoir les offres et communications de My Music par e-mail.</span>
           </div>
           <div class="row_checkbox ">
            <input type="checkbox" name="cochez" id="cochez">
            <span class="text_checkbox">Je consens d'être contacté par un conseiller par téléphone et/ou SMS.*.</span>
          </div>
          </div>
          <div class="form-group col-md-12">
              <p class="text_condition_formulaire m_row_chexbox2">
                Pour plus d’informations sur la gestion de vos données et vos droits, consultez notre politique de confidentialité.
              </p>
              <p class="text_condition_formulaire ">
                En remplissant ce formulaire, vous acceptez que les informations ci-dessus soient traitées par MyMusic pour répondre à
                 votre demande, conformément à notre politique de protection des données personnelles
              </p>
              <div class="form-group case_btn">
                <button class="btn_submit_form btn-success" type="submit" >envoyez</button>
              </div>
          </div>
         
        
        </form>
       </div>
    </div>
  </div>
</div>

<!-- footer -->

 <%- include ('./part_body/foot_body');%>
    
    <script src="../model/Public/js/script.js"></script>
</body>
</html>