<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../model/Public/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row row_size">
        <div class="col-md-6">
          <h1 class="title1_connexion">MY MUSIC</h1>
          <div class="container_center">
            <h2 class="title2connexion">Connexion</h2>
            <div class="row_network_compte">
              <a href="#" class="social_btn_connect">
                <span>facebook</span>
                <div><i class="fa fa-facebook icon_size_social"></i></div>
              </a>
              <a href="#" class="social_btn_connect">
                <span>google</span>
                <div><i class="fa fa-google icon_size_social"></i></div>
              </a>
              <a href="#" class="social_btn_connect">
                <span>Apple</span>
                <div><i class="fa fa-apple icon_size_social"></i></div>
              </a>
            </div>
            <form method="post" action="/inscription" class="row_or">
              <div class="bar_or">
                <span class="text_or">ou </span>
              </div>
              <span class="header_email"
                >Connectez-vous avec votre adresse e-mail
              </span>

              <div
                class="container_input_generale container_input_generale_inscrip"
              >
                <div class="container-input">
                  <input
                    type="text"
                    id="prenom"
                    class="input_connexion"
                    name="prenom"
                    placeholder="Prenom"
                  />
                </div>

                <% if(alert.prenom) { %>
                  <div class="validation"><%= alert.prenom.msg %></div>
                  <% } %>

              </div>
              <div
                class="container_input_generale container_input_generale_inscrip"
              >
                <div class="container-input">
                  <input
                    type="text"
                    id="nom"
                    name="nom"
                    class="input_connexion"
                    placeholder="Nom"
                  />
                </div>
              </div>
              <div
                class="container_input_generale container_input_generale_inscrip"
              >
                <div class="container-input">
                  <input
                    type="text"
                    id="email"
                    name="email"
                    class="input_connexion"
                    placeholder="adresse Email"
                  />
                </div>
                <div class="container-input">
                  <input
                    type="text"
                    id="password"
                    name="password"
                    class="input_connexion"
                    placeholder="passeword"
                  />
                </div>
              </div>

              <div class="row_date">
                <span>Date de naissance</span>
                <input type="date"
                  class="select_date select_days"
                  name="date_naissance"
                  id="selcet_day"
                >
                
                </input>
             
              
              </div>

              <div class="form-group col-md-12 mt_checkbox">
                <div class="row_checkbox">
                  <input type="checkbox" name="receive_email" value="ok" id="cochez" />
                  <span class="text_checkbox"
                    >Je souhaite recevoir les offres et communications de My
                    Music par e-mail.</span
                  >
                </div>
                <div class="row_checkbox">
                  <input type="checkbox" name="receive_sms" id="cochez" />
                  <span class="text_checkbox"
                    >Je consens d'être contacté par un conseiller par téléphone
                    et/ou SMS.*.</span
                  >
                </div>
              </div>

              <a href="" type="submit" class="btn_submit_connexion">
                S'inscrire
              </a>
              <div class="forget_passsword">
                Vous avez déjà un compte ?
                <a href="/connexion" class="link_forgot_password">
                  connectez vous</a
                >
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 card_left">
          <img
            src="../model/Public/image/bg_connexion.webp"
            class="bg_right_connexion"
            alt="robert_glasper_kirk_edwards_fma"
          />
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
