<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../model/Public/css/style.css">
 
   

    <title>Profile1</title>
</head>
<body>
     <%- include('./part_body/head_body'); %>
    
<div class="container_generale_course">
    <div class="container_title_jazz">
        <h1 class="title_course_jazz">Cours  De Jazz</h1>
       <p class="text_unnder_title"> Ensemble de cours de solfège pour comprendre et réviser les bases de la théorie musicale</p>
    </div>
    <h2 class="title_course_jazz2 title_course_jazz_genrale">
        Présentation des cours de solfège
    </h2>

    <div class="content_course">
        <div class="content_image_course">
            <img src="../model/Public/image/lecon-de-solfege.jpg" alt="prof_solfege">
        </div>
       <div class="container_text_content_course">
        <p class="text_content_course">
            Vous souhaitez apprendre la musique et le solfège ? alors il vous faudra acquérir certaines notions de
             solfège indispensables. On peut jouer d'un instrument de musique sans avoir de connaissance en théorie
              musicale, mais cela aura ses limites. De toute façon, tout musicien fait sa part de solfège, même ceux qui
               prétendent ne pas en faire : jouer des accords ou une mélodie, en rythme, lire ou écrire des notes de musique
                sur une partition... Tout cela fait partie de l'apprentissage musical. 
            Le solfège est donc inévitable et nécessaire et avec lui, vous apprendrez plus vite et comprendrez ce que vous jouez.
        </p>
        <p class="text_content_course">
            Les cours sur Musiclic vous donnent toute la connaissance nécessaire et suffisante en solfège.
             Si vous avez une question, n'hésitez pas à utiliser le formulaire 
            contact et je vous répondrai avec plaisir. A la fin de chaque leçon figure désormais
             un Quiz qui vous permet de réviser vos connaissances rapidement.De plus d'autres options
              existent pour apprendre le solfège. Si vous préférez un accompagnement personnalisé sur 
              le long terme, un cours privé de solfège peut être aussi une excellente option. Des nombreux sites, 
              comme Superprof, proposent un large choix de profs de solfège à domicile ou même par webcam. 
        </p>
       </div>
    </div>
    <!-- section 2 -->
    <h2 class="title_course_jazz2 title_course_jazz_genrale">
        La portée, la mesure et la clef
    </h2>

    <div class="content_course">
        <div class="content_image_course">
            <img src="../model/Public/image/Portee_Musique.png" alt="portée">
        </div>
       <div class="container_text_content_course">
        <p class="text_content_course">
            La portée est constituée de 5 lignes horizontales et parallèles sur lesquelles on écrit (et lit) la musique,
             donc les notes de musique, les silences et d'autres symboles musicaux (la clef de Sol ou la clef de Fa, les
              indications rythmiques, les barres de mesure, les nuances, les indications de tempo...).La portée est divisée en
               mesures grâce à des barres de mesure. Cela permet d'en faciliter la lecture et de structurer l'écriture musicale. 
               Dans une mesure, on a des temps (cela peut être un temps fort ou faible). Je vous propose d'analyser et de commenter une partition.
                Explications détaillées de la clef de Sol et de Fa avec le positionnement de chacune des notes sur plusieurs octaves. La clef indiquée en début de portée (ou dans le cours du morceau) permet de donner le com des notes placées sur la portée. La clef de Sol va indiquer la note Sol sur la portée : ce sera la note placée sur la deuxième ligne de la portée. A partir de cette indication,
             il sera facile d'en déduire les autres notes, celles qui suivent et précèdent le Sol. Il en est de même pour le clef de Fa.
        </p>
        <div class="container_button_section_course">
            <button class="btn_section_course">
                La portée-La mesure -La clef
            </button>
        </div>
       </div>
    </div>

    <!-- section 3 -->
    <h2 class="title_course_jazz2 title_course_jazz_genrale">
        Les notes de musique
    </h2>

    <div class="content_course">
        <div class="content_image_course">
            <img src="../model/Public/image/solfege-les-notes-de-musique.png" alt="notes_de_musique">
        </div>
       <div class="container_text_content_course">
        <p class="text_content_course">
            Explication sur l'origine du nom des notes, de leur écriture (la tête, la hampe, le crochet...) 
            et de leur emplacement sur les lignes d'une portée (y compris les lignes supplémentaires). Il est également important 
            de connaître le nom et l'ordre des notes. On peut observer des mouvements conjoints ou disjoints, ascendants ou descendants de notes.
        </p>
        <div class="container_button_section_course">
            <button class="btn_section_course">
                Les notes de musique
            </button>
        </div>
       </div>
    </div>

      <!-- section 4 -->
      <h2 class="title_course_jazz2 title_course_jazz_genrale">
        Les figures de notes et de silences
    </h2>

    <div class="content_course">
        <div class="content_image_course">
            <img src="../model/Public/image/solfege-figure-de-notes-et-silence.png" alt="figure_de_note">
        </div>
       <div class="container_text_content_course">
        <p class="text_content_course">
            Les figures de notes (la ronde, la blanche, la noire ...) permettent d'indiquer la durée de la note à jouer.
             Vous trouverez un tableau complet de ces figures de notes avec pour chacune la valeur et quelques équivalences (par exemple "une ronde vaut deux blanches ou quatre noires"). A l'instar des figures de notes, cette leçon vous fera découvrirles figures de silences (la pause, la demi-pause, le soupir...). Vous trouverez entre autres dans cette leçon
             de solfège consacrée au silences un tableau des équivalences entre les figures de notes et de silences.
        </p>
        <div class="container_button_section_course">
            <button class="btn_section_course">
                Les figures de notes et de silences
            </button>
        </div>
       </div>
    </div>
         <!-- section 5 -->
         <h2 class="title_course_jazz2 title_course_jazz_genrale">
            Les signes d'accentuation
        </h2>
    
        <div class="content_course">
            <div class="content_image_course">
                <img src="../model/Public/image/solfege-signes-accentuation.png" alt="accentuation">
            </div>
           <div class="container_text_content_course">
            <p class="text_content_course">
                Plusieurs signes d'accentuation viennent enrichir l'écriture des notes (le tiret, le point, l'accent ...) et d'une manière générale l'écriture musicale (le point d'orgue par exemple). On retrouve ces signes très souvent sur les partitions. 
                C'est ainsi que le compositeur donne des indications sur le jeu, il est donc important de bien comprendre ces signes.
            </p>
            <div class="container_button_section_course">
                <button class="btn_section_course">
                    Les signes d'accentuation en musique
                </button>
            </div>
           </div>
        </div>


           <!-- section 6 -->
           <h2 class="title_course_jazz2 title_course_jazz_genrale">
            Les altérations - La tonalité
        </h2>
    
        <div class="content_course">
            <div class="content_image_course">
                <img src="../model/Public/image/solfege-alterations-et-tonalites.png" alt="tonalite">
            </div>
           <div class="container_text_content_course">
            <p class="text_content_course">
                Il existe 3 altérations. Ces symboles, à savoir le dièse (#) ou le bémol (b) vont modifier la hauteur du son. La troisième altération, le bécarre, va annuler la précédente altération (dièse ou bémol). L'altération peut être accidentelle : elle sera alors placée avant la note à jouer et sera valable pour l'ensemble de la mesure où elle apparait. Elle peut être aussi constitutive :
                 dans ce cas, ce sont les altérations que l'on voit au début de la partition, elles forment l'armure et définit la tonalité.
            </p>
            <div class="container_button_section_course">
                <button class="btn_section_course">
                    Les altérations 
                </button>
            </div>
           </div>
        </div>

          <!-- section 7 -->
          <h2 class="title_course_jazz2 title_course_jazz_genrale">
            Le chiffrage de la mesure
        </h2>
    
        <div class="content_course">
            <div class="content_image_course">
                <img src="../model/Public/image/solfege-chiffrage-de-la-mesure.png" alt="chiffrage">
            </div>
           <div class="container_text_content_course">
            <p class="text_content_course">
                Le chiffrage de la mesure correspond aux deux nombres inscrits en début de portée (et éventuellement en cours de jeu) après la clef et les altérations dites "constitutives" qui forment l'armure. Cela permet de définir le nombre de temps par mesure et la figure de notes qui sera la valeur référence d'un temps pour chaque mesure. On distingue les rythmes binaires (la mesure simple) et les rythmes ternaires (la mesure composée). A l'aide de nombreux exemples,
                 nous allons étudier et expliquer toutes les combinaisons possibles (comme par exemple 2/4, 4/4, 3/8, 4/16, 6/8, 9/4, 12/8 etc...).
            </p>
            <div class="container_button_section_course">
                <button class="btn_section_course">
                    Le chiffrage de la mesure
                </button>
            </div>
           </div>
        </div>


            <!-- section 8 -->
          <h2 class="title_course_jazz2 title_course_jazz_genrale">
            Les intervalles
        </h2>
    
        <div class="content_course">
            <div class="content_image_course">
                <img src="../model/Public/image/solfege-les-intervalles.png" alt="intervalle">
            </div>
           <div class="container_text_content_course">
            <p class="text_content_course">
                L'intervalle est une notion fondamentale de la théorie musicale et permet de comprendre la formation des accords et des gammes. Il s'agit d'un chapitre complet sur cette notion expliqué par de nombreux exemples (formation des accords parfaits et des gammes majeures).

            </p>
            <div class="container_button_section_course">
                <button class="btn_section_course">
                    Les intervalles
                </button>
            </div>
           </div>
        </div>

             <!-- section 9 -->
             <h2 class="title_course_jazz2 title_course_jazz_genrale">
                Les gammes majeures
            </h2>
        
            <div class="content_course">
                <div class="content_image_course">
                    <img src="../model/Public/image/solfege-les-gammes-majeures.png" alt="gamme_majeur">
                </div>
               <div class="container_text_content_course">
                <p class="text_content_course">
                    Une gamme majeure est une gamme composée de 7 notes séparées les unes des autres par un ton ou un demi-ton.
                     Toutes sont construites sur le même schéma. Après la gamme de Do majeur, nous étudierons les gammes avec des altérations à la Clef,
                      dans un premier temps celles avec des dièses (#) puis celles avec des bémols (b).
                     Ces altérations permettront de définir la tonalité d'un morceau, nous vous indiquerons comment faire dans les deux cas (dièses ou bémols).
                </p>
                <div class="container_button_section_course">
                    <button class="btn_section_course">
                        Les gammes majeures
                    </button>
                </div>
               </div>
            </div>


              <!-- section 10 -->
              <h2 class="title_course_jazz2 title_course_jazz_genrale">
                Les gammes mineures
            </h2>
        
            <div class="content_course">
                <div class="content_image_course">
                    <img src="../model/Public/image/solfege-les-gammes-mineures.png" alt="gamme_mineur">
                </div>
               <div class="container_text_content_course">
                <p class="text_content_course">
                    Découverte des gammes mineures : rappel des gammes majeures et explication des gammes 
                    mineures relatives. Explication de la gamme mineure naturelle et tableau récapitulatif
                     des gammes majeures et mineures avec des dièses et bémols à la clef.

                    Les gammes mineures
                </p>
                <div class="container_button_section_course">
                    <button class="btn_section_course">
                        Les gammes mineures
                    </button>
                </div>
               </div>
            </div>
              <!-- section 11-->
              <h2 class="title_course_jazz2 title_course_jazz_genrale">
                Le rythme - Le triolet et duolet
            </h2>
        
            <div class="content_course">
                <div class="content_image_course">
                    <img src="../model/Public/image/solfege-rythme.png" alt="rythme">
                </div>
               <div class="container_text_content_course">
                <p class="text_content_course">
                    Définition et explication du rythme et de plusieurs notions associées : le métronome, la syncope,
                     le contretemps, 
                    les indicateurs d'expression (Pianissimo, Piano, Forte, Fortissimo ...) et le
                     mouvement (Andante, Allegro ...). Explication détaillée de ces divisions exceptionnelles que sont
                      les duolets et triolets. Elles sont très largement utilisées dans toutes les écritures musicales,
                       que ce soit dans le Classique, le Jazz et la Variété.
                </p>
                <div class="container_button_section_course">
                    <button class="btn_section_course">
                       Le rythme en musique
                    </button>
                </div>
                <div class="container_button_section_course_link">
                    <a href="" class="btn_section_course_link">
                       <i class="fa fa-facebook"></i>
                       <span>Facebook</span>
                    </a>
                    <a href="" class="btn_section_course_link   ">
                        <i class="fa fa-facebook"></i>
                        <span>Email</span>
                     </a>
                    <a href="" class="btn_section_course_link">
                        <i class="fa fa-facebook"></i>
                        <span>Twiter</span>
                     </button>
                     <a href="" class="btn_section_course_link">
                        <i class="fa fa-facebook"></i>
                        <span>Partager</span>
                     </a>
                </div>
               </div>
            </div>

            <!-- section footer  -->
            <h2 class="title_course_jazz2 title_course_jazz_genrale">
                Réaliser un vieux rêve en prenant des cours de solfège
            </h2>
        
            <div class="content_course">
                <div class="content_image_course">
                    <img src="../model/Public/image/reve-apprendre-musique.jpg" alt="dream_solfege">
                </div>
               <div class="container_text_content_course">
                <p class="text_content_course">
                    Vous souhaitez apprendre la musique et le solfège ? alors il vous faudra acquérir certaines notions de
                     solfège indispensables. On peut jouer d'un instrument de musique sans avoir de connaissance en théorie
                      musicale, mais cela aura ses limites. De toute façon, tout musicien fait sa part de solfège, même ceux qui
                       prétendent ne pas en faire : jouer des accords ou une mélodie, en rythme, lire ou écrire des notes de musique
                        sur une partition... Tout cela fait partie de l'apprentissage musical. 
                    Le solfège est donc inévitable et nécessaire et avec lui, vous apprendrez plus vite et comprendrez ce que vous jouez.
                </p>
                <p class="text_content_course">
                    Les cours sur Musiclic vous donnent toute la connaissance nécessaire et suffisante en solfège.
                     Si vous avez une question, n'hésitez pas à utiliser le formulaire 
                    contact et je vous répondrai avec plaisir. A la fin de chaque leçon figure désormais
                     un Quiz qui vous permet de réviser vos connaissances rapidement.De plus d'autres options
                      existent pour apprendre le solfège. Si vous préférez un accompagnement personnalisé sur 
                      le long terme, un cours privé de solfège peut être aussi une excellente option. Des nombreux sites, 
                      comme Superprof, proposent un large choix de profs de solfège à domicile ou même par webcam. 
                </p>
               </div>
            </div>
</div>

   
    <%- include('./part_body/foot_body'); %>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>