<div class="container container_profile_sylia">
    <h1 class="title_profile_description">
          Coach Cory Henry 
    </h1>
    <div class="row">
        <div class="img_profile img_profile1 col-md-12">
           <img src="../../model/Public/image/Cory_Henry_.jpg" class="img_size_profile" alt="sylvia">
        </div>
        <div class="text_profile col-md-12">
              <div class="row">
                  <div class="section_left_description col-md-3">
                      <hr> <br> <br>
                     <span> <strong> Cory Henry</strong> nee le 02 fevrier 1981
                        a vienne</span>
                      <div class="img_section_left_description">
                          <img src="../model/Public/image/maick-maciel-sxYaxgJg0Ow-unsplash.jpg" class="img_maick_section_left" alt="img_deco">
                      </div>
                  </div>
                  <div class="section_right_description col-md-9">
                      <p class="text_section_right_description">
                        Artiste réconnus de l’industrie de la musique, les éditeurs ont entre autres
                         le mandat de faire rayonner les chansons de leurs artistes dans l’espoir que ces derniers puissent toucher des redevances en vertu des droits d’auteur. Mais certains remettent aujourd’hui en cause leur contrat avec leur éditeur, vu le peu de revenus qu’il arrive à engendrer.
                         D’autant que ces contrats les obligent souvent à céder à vie une partie des droits d’auteur de leur catalogue à cet intermédiaire.

                      </p>
                      <p class="text_section_right_description">
                            « Il y aurait quelque chose à revoir [dans les balises encadrant les contrats], 
                            car c’est un domaine où il y a peu de règles actuellement.
                            D’autant plus que beaucoup de gens dans l’industrie, que ce soit des artistes ou des maisons de disques, 
                            se sont improvisés éditeurs dans les dernières années », 
                            se désole David Bussières, guitariste d’Alfa Rococo, 
                            et surtout cofondateur du Regroupement des artisans de la musique (RAM).
                      </p>
                      <p class="text_section_right_description">
                        Pour la musicienne et chanteuse Sabrina Halde, anciennement du groupe Groenland,
                         les éditeurs restent très compétents dans certains contextes,
                          alors qu’ils sont complètement obsolètes dans d’autres circonstances. Elle donne en exemple l’éditeur de Groenland, Third Side Music, qui avait réussi à faire passer l’une des chansons du groupe dans une publicité d’Apple diffusée lors de la cérémonie des Oscar en 2015. 
                        Un placement lucratif que le groupe québécois n’aurait jamais réussi à dénicher s’il s’était édité par lui-même.
                  </p>
                  </div>
              </div> 
        </div>
    </div>
</div>