
<footer>
    <div class="container">
        <div class="row">
            <div class="card_footer1 col-md-3 col-sm-6 col-xs-6" >
                <h4>Meilleurs tutoriels</h4>
                <a>Meilleurs tutoriels</a>
                <a href="">JAZZ Tutoriel</a> 
                <a href="">BLUES To Tutoriel</a>
                <a href="">GOSPEL Tutoriel</a>
            </div>
            <div class="card_footer1 col-md-3  col-sm-6 col-xs-6">
                <h4>Meilleurs tutoriels</h4>
                <a>REGGAE Tutoriel</a>
                <a href="">POP tutoriel </a>
                <a href="">RNB tutoriel</a>
                <a href=""> SWING Tutoriel</a>
                
            </div>
            <div class="card_footer1 col-md-3  col-sm-6 col-xs-12">
                <h4>Meilleurs tutoriels</h4>
                <a>Meilleurs tutoriels</a>
                <a href="">MasterClass</a>
                <a href="">Concerto</a>
                <a href="">Opera</a>
            </div>
            <div class="card_footer1 col-md-3  col-sm-6 col-xs-6" >
                <h2>Achetez un cour en ligne</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    achetez
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
            </div>
    </div>   </div>
    </div>  
  
    </div>
      
</footer>